<!--<app-progress-bar [progress]="0"></app-progress-bar>-->
<!--<app-rating-bar></app-rating-bar>-->
<!--<app-demo-output (changeFontSize)="change($event)"></app-demo-output>-->
<!--<h1 [style.fontSize.px]="fontSize" >Total vote from children: {{vote}}</h1>-->
<!--<app-demo-form></app-demo-form>-->
<!--<app-todo></app-todo>-->
<a routerLink="/timelines">Ứng dụng tính thời gian sống</a>
<p><router-outlet></router-outlet></p>
<a routerLink="/youtube">Youtube</a>
<p><router-outlet></router-outlet></p>
